body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8efef;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .profile-card {
    background: #faf8f8;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(128, 6, 210);
    text-align: left;
  }
  
  .profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
  }
  
  h2 {
    color: #190bdb;
  }
  
  h3 {
    color: #190bdb;
  }
  
  p {
    color: #030400;
    line-height: 1.6;
  }
  
  .projects {
    margin-bottom: 20px;
  }
  
  .project {
    background: #fa9df9;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  blockquote {
    background: #5ef9dc;
    border-left: 5px solid #007bff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 10px 0;
    padding: 10px 20px;
    font-style: italic;
    color: #555;
  }
  
  .contact a {
    color: #0079fa;
    text-decoration: none;
  }
  
  .controls {
    margin: 20px;
  }
  